# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [28]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [29]:
# Convert the date column format from string to datetime

df['date'] =pd.to_datetime(df['date'], format = '%Y-%m-%d')

df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [30]:
# Set the date column as the DataFrame index

df =df.set_index(df['date'])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [38]:
# Drop the date column

df = df.drop('date', axis=1)
df.head()

KeyError: "['date'] not found in axis"

### Compare June and December data across all years

In [39]:
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [53]:
from scipy import stats

In [42]:
# Filter data for desired months


#adjust append to concat on newer versions
junDecdata = df.filter(regex= '\d{4}-06-\d{2}',axis=0).append(df.filter(regex= '\d{4}-12-\d{2}',axis=0))

junDecdata

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[3217 rows x 3 columns]

In [46]:
# Identify the average temperature for June

junTemps = junDecdata.filter(regex= '\d{4}-06-\d{2}',axis=0)
junTempAvg = junTemps['tobs'].mean()
junTempAvg

74.94411764705882

In [47]:
# Identify the average temperature for December

decTemps = junDecdata.filter(regex= '\d{4}-12-\d{2}',axis=0)
decTempAvg = decTemps['tobs'].mean()
decTempAvg

71.04152933421226

In [ ]:
# Create collections of temperature data

#done above

In [59]:
# Run paired t-test


stats.ttest_ind(junTemps['tobs'],decTemps['tobs'])
#paired is more relevant here due to it measuring the same variable at the same location

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

In [ ]:
s

Seeing the pvalue is less than 0.01 the highest degree of normal standards to prove a null hypothesis we can confidently say that the temperatures are going to follow different trends in december than they do in june.